name: Build Docker Image

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - labeled

permissions:
  contents: read

concurrency:
  group: docker-image-pr-${{ github.event.number }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vita2hos/vita2hos-dev

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.21.1

      - name: Extract metadata from git
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: latest

      - name: Start SSH-Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.XERPI_DEPLOY_KEY }}

      - name: Determine number of processors
        id: cpu_info
        run: |
          CORE_COUNT=$(nproc)
          echo "Detected $CORE_COUNT CPU cores"
          echo "cores=$CORE_COUNT" >> $GITHUB_OUTPUT

      - name: Build Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          platforms: linux/amd64
          build-args: |
            MAKE_JOBS=${{ steps.cpu_info.outputs.cores }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          ssh: |
            default=${{ env.SSH_AUTH_SOCK }}