name: Build and Push Docker Image

on:
  push:
    branches: [master]
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "*.md"
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

concurrency:
  group: docker-image-master
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vita2hos/vita2hos-dev

jobs:
  build_and_push:
    name: Build and push Docker image to GitHub Registry
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.21.1

      - name: Login to GitHub Packages
        uses: docker/login-action@v3.5.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata from git
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: latest

      - name: Start SSH-Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.XERPI_DEPLOY_KEY }}

      - name: Determine number of processors
        id: cpu_info
        run: |
          CORE_COUNT=$(nproc 2>/dev/null || sysctl -n hw.ncpu 2>/dev/null || echo 2)
          echo "Detected $CORE_COUNT CPU cores"
          echo "cores=$CORE_COUNT" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          platforms: linux/amd64
          build-args: |
            MAKE_JOBS=${{ steps.cpu_info.outputs.cores }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          ssh: |
            default=${{ env.SSH_AUTH_SOCK }}

  create_devcontainer:
    needs: build_and_push
    uses: ./.github/workflows/devcontainer.yml